.code-style {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 0;
}
.code-style .code-style-title {
    position: relative;
    padding-left: 5px;
    border-bottom: 1px solid #ccc;
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    background-color: #DEDEDE;
}
.code-style .code-style-title a {
    position: absolute;
    right: 5px;
    color: #ABAAAA;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.code-style .code-style-title.code-style-toggle {
    cursor: pointer;
}
.code-style .code-style-ol {
    position: relative;
    overflow: auto;
}
.code-style .code-style-ol.code-style-show {
    display: block;
}
.code-style .code-style-ol.code-style-hidden {
    display: none;
}
.code-style .code-style-ol li {
    margin-left: 50px;
    padding: 2px 5px;
    list-style-type: decimal-leading-zero;
    border-left: 2px solid #999;
}
.code-style .code-style-ol li.odd {
    background-color: #f5f5f5;
}
.code-style .code-style-ol li.even {
    background-color: #f2f2f2;
}
.code-style .code-style-keyword {
    color: #00689c;
    font-weight: bold;
}
.code-style .code-style-string {
    color: #ff0000;
}
.code-style .code-style-attribute {
    color: #ff9614;
}
.code-style .code-style-comment {
    color: #008200;
    font-weight: normal;
}